body {
  background-color: #38003C;
  margin: 5% 20% 5% 20%;
}

h1 {
  text-align: center;
  color: #e3dfc8;
}

h2 {
  text-align: center;
  color: #e3dfc8;
}

h3 {
  color: #e3dfc8;
}
.table-stats {
  color: #e3dfc8;
}
table {
  table-layout: fixed;
  width: 100%;
  margin-top: 50px;
  text-align: center;

}
.headings {
  margin-bottom: 50px;
}
